/*********************************************************
    Hero
*********************************************************/
.hero {
  position: relative;
  height: 550px;
  background: url('../img/hero-bg.jpg') center center no-repeat;
  background-size: cover;

  &--has-overlay {
    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      background: rgba($color-secondary, 0.6);
      z-index: 1;
    }
  }

  &--full-height {
    height: 100vh;
  }

  &--bg-gradient {
    background-color: $color-secondary;
    background-image: linear-gradient(
      120deg,
      $color-secondary,
      $color-secondary-dark
    );
  }

  &__background-image {
    height: 100%;
    background: url('https://images.unsplash.com/photo-1508355991726-ebd81e4802f7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=479fe53b6738f375934d0edab32e1d5d&auto=format&fit=crop&w=1953&q=80') center center no-repeat;
  }

  &__logo {
    width: 1em;
    height: 1em;
    font-size: 100px;
    margin: 0 auto;
    //background: url('../img/logo.svg') center center no-repeat;
    background-size: 100%;
  }

  &__content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    text-align: center;
    color: $color-white;
    z-index: 10;
    @include bp_md {
      margin: 0 auto;
      max-width: 50%;
    }
  }

  &__title {
    font-weight: 300;
    font-size: 30px;
    color: $color-white;
    margin-bottom: 10px;
    @include bp_md {
      font-size: rem(58);
    }
  }

  &__subtitle {
    font-weight: 100;
    margin: 0;
  }

  &__btn-container {
    margin-top: 20px;
  }
}
